$dark-color: #3A173C;
$lightwhite: #E0DCDB;

%title {
    color: $dark-color;
    font-size: 97px;
    font-weight: 400;
    line-height: 116.4px;
}

%titleonepass {
    // width: 571px;
    color: $dark-color;
    font-size: 22px;
    font-weight: 400;
    line-height: 30.8px;
}

%btn-styles {
    height: 68px;
    border-radius: 44px;
    border: 2px solid $dark-color;
    background: $dark-color;
    color: $lightwhite;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.75px;
}

%choose-item {
    display: flex;
    // width: 476.078px;
    width: 445px;
    height: 535px;
    padding: 0px 24.984px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // gap: 90px;
    // padding: 0px 0px 17px 31px;

}

%choose-item-p {
    color: $dark-color;
    font-size: 22px;
    font-weight: 400;
    line-height: 30.8px;
}

%choose-item-span {
    color: $dark-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;

}

%sectionn-span {
    color: $dark-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 16px;
    padding-top: 205px;
}

%sectionn-b {
    color: $dark-color;
    font-size: 58px;
    font-weight: 400;
    line-height: 63.8px;
    text-align: left;
    padding: 0 0 37px 0;
}

%sectionn-p {
    color: $dark-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 37px;
}