@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "./var";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 850px;
    background-image: url(../images/Rectangle.png);
    position: relative;

    .header-div {
        padding: 215px 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
            @extend %title;

            // width: 526px;
            span {
                width: 683px;
            }
        }

        p {
            @extend %titleonepass;
            padding: 38px 0 39px 15px;
        }

        .btn-1 {
            @extend %btn-styles;
            background: none;
            color: $dark-color;
            padding: 16px 52px 16px 51px;
            margin: 0 26px 36px 15px;

        }

        .btn-2 {
            @extend %btn-styles;
            padding: 16px 77px;
            margin-bottom: 36px;
        }

    }

    img {
        width: 100%;
        position: absolute;
        // top: 0;
        bottom: 0;
    }
}

.dream {
    img {
        width: 167px;
        height: 181px;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
    }

    .dream-div {
        height: 189px;
        margin-bottom: 85px;

        h2 {
            width: 860px;
            color: $dark-color;
            text-align: center;
            margin: 0 auto;
            font-size: 58px;
            font-weight: 400;
            line-height: 63.8px;
        }
    }

    .choose-flex {
        display: flex;
        margin-bottom: 80px;
        gap: 50px;



        &-item {
            @extend %choose-item;

            &:first-child {
                padding-left: 31px;
                height: 630px;
            }

            &:nth-child(3) {
                height: 510px;
            }

            img {
                width: 151px;
                height: 150px;
                flex-shrink: 0;
                margin-bottom: 31px;
            }

            p {
                @extend %choose-item-p;
                width: 422px;
                margin-bottom: 17px;

                &:nth-child(3) {
                    padding: 31px 26px 110px 0px;
                }

            }

            .span {
                width: 426.109px;
                height: 90px;

                span {
                    @extend %choose-item-span;
                    display: block;
                }
            }
        }
    }

}

.vector {
    padding-bottom: 244px;

    &-div {
        img {
            width: 100%;
            height: 200px;
            margin-top: 70px;
            margin-bottom: -5px;
        }
    }

    &-div2 {
        background-color: #3A173C;
        ;

        img {
            width: 100%;
        }
    }

    &-div3 {
        width: 100%;

        img {
            width: 100%;
        }
    }

}

.drain {
    padding-top: 244px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;

    .title {
        h2 {
            @extend %title;
            width: 836px;
            font-size: 100px;
            margin: 0 auto;
            margin-bottom: 46px;
        }

        p {
            @extend %titleonepass;
            width: 836px;
            font-size: 40px;
            line-height: 50px;
            margin: 0 auto;
        }
    }
}

.sectionn {

    &-flex {
        display: flex;
        gap: 25px;

        ma &-left {
            img {
                // width: 664px;
                // height: 581px;
                background: url(<path-to-image>), cover no-repeat;
            }
        }

        &-right {
            margin-left: 25px;
            margin-top: 205px;

            span {
                @extend %sectionn-span;
            }

            b {
                @extend %sectionn-b;
                width: 475px;
                text-align: left
            }

            p {
                @extend %sectionn-p;
            }

            &-left:nth-child(2) {
                margin-left: 125px;
            }
        }
    }

    .foot-flex {
        margin-top: 100px;
        margin-bottom: 190px;
        margin-left: 247px;

        gap: 46px;

        button {
            @extend %btn-styles;
            max-width: 420px;
            height: 83px;
            padding: 24px 81px;
            text-align: center;
            margin-left: 46px;
        }

        button:nth-child(2) {
            padding: 24px 54px;

        }
    }
}

.daily {
    img {
        width: 100%;
        margin-bottom: -5px;
    }

    &-div {
        background-color: $dark-color;
        height: 700px;
        margin-bottom: 450px;

        img:last-child {
            margin-bottom: 250px;
        }
    }
}

.could {
    img {
        width: 100%;
        margin-bottom: -8px;

        &:last-child {
            margin-bottom: 210px;
        }
    }

    &-div {
        background-color: $dark-color;
        // height: 367px;
        height: 500px;

        &-box {
            padding: 14px 0 71px 0;

            h2 {
                width: 1004px;
                color: $lightwhite;
                text-align: center;
                margin: 0 auto;
                font-size: 58px;
                font-weight: 400;
                line-height: 63.8px;

            }
        }

    }

    .date {
        display: flex;

        .box {
            // width: 304px;
            // height: 184px;
            flex-shrink: 0;
            border-right: 3px solid gray;


            &:last-child {
                border: none;
            }

            span {
                width: 57px;
                color: $lightwhite;
                text-align: center;
                margin: 0 auto;
                font-size: 98px;
                font-weight: 400;
                line-height: 98px;
                margin: 11px 124px 97px 0;

                &:nth-child(1) {
                    padding-left: 92px;
                }
            }
        }
    }
}

.couch {
    background: url(../images/Vector5.png);
    margin-top: 208px;
    display: flex;
    width: 1415px;
    height: 852px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 188px;

    .round {
        margin-top: -70px;

        img {
            background: $lightwhite;
            padding: 10px 162px;
            border-radius: 500px;
            margin-bottom: 81px;
        }

        h2 {
            width: 536px;
            color: #C0B9B5;
            text-align: center;
            font-size: 65px;
            font-weight: 400;
            line-height: 77.025px;
            margin-bottom: 59px;
        }

        p {
            width: 634px;
            color: #C0B9B5;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 29.25px;
            margin-bottom: 29px;
        }
    }
}

.offer {
    img {
        width: 100%;
        margin-bottom: -18px;
    }

    .opshi {
        width: 1495px;
        height: 854px;
        flex-shrink: 0;
        background: $dark-color;

        h2 {
            color: $lightwhite;
            text-align: center;
            font-size: 100px;
            font-weight: 400;
            line-height: 110px;
            margin: 14px 0 45px 0;
        }

        p {
            color: $lightwhite;
            text-align: center;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
            margin-bottom: 70px;

        }

        .div {
            display: flex;
            gap: 25px;

            .box-left {
                width: 545px;
                height: 561px;
                padding-bottom: 50px;
            }

            .box-right {
                p {
                    color: #E0DCDB;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 29.25px;
                    text-align: left;
                    margin-bottom: 42px;

                    &:last-child {
                        margin-top: 21px;
                    }
                }

                span {
                    color: #E0DCDB;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 29.25px;
                    // margin-bottom: 21px;  
                }

                .div2 {
                    margin: 0 auto;
                    justify-content: center;
                    align-items: center;

                    .span {
                        color: #E0DCDB;
                        text-align: center;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 36px;
                        margin: 0 auto;
                        margin-bottom: 19px;
                    }

                    .button {
                        width: 420px;
                        height: 83px;
                        flex-shrink: 0;
                        border-radius: 44px;
                        border: 2px solid #B9E2BF;
                        background: #B9E2BF;
                        margin-top: 19px;
                        margin-bottom: 15px;
                    }

                    .btn {
                        background: none;
                        color: #B9E2BF;
                        margin-top: 0;
                        margin-bottom: 29px;
                    }

                    .spn {
                        color: #E0DCDB;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 29.25px;
                    }
                }
            }

        }
    }
}


.ikkita {
    margin-top: 190px;

    .div-tepa {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 90px;


        .b {
            color: #3A173C;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
        }

        .p {
            color: #3A173C;
            font-size: 18px;
            font-weight: 400;
            line-height: 29.25px;
            margin-top: 40px;
        }

        .pp {
            margin-top: 21px;
        }
    }

    .div-pas {
        margin: 0 auto;
        text-align: center;
        display: flex;
        width: 1217.938px;
        height: 491.5px;
        padding: 0px 267.969px 18px 266.969px;
        flex-direction: column;
        align-items: center;
        gap: 0.047px;
        flex-shrink: 0;
        margin-bottom: 160px;

        b {
            width: 883px;
            color: #3A173C;
            text-align: center;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
        }

        p {
            text-align: left;
            color: #3A173C;
            font-size: 18px;
            font-weight: 400;
            line-height: 29.25px;
        }

        .p {
            margin-top: 40px;
            margin-bottom: 21px;
            margin-left: -485px;
        }

        .pp {
            margin-bottom: 17px;
        }

        .ppp {
            margin-bottom: 13px;
        }

        .p5 {
            margin-left: -110px;

        }
    }
}

.img {
    img {
        width: 100%;
        margin-bottom: -50px;

        &:last-child {
            margin-bottom: 67px;

        }
    }

    .door {
        background: $dark-color;
        width: 1498px;
        height: 369px;
        flex-shrink: 0;

        h3 {
            width: 1066px;
            color: #E0DCDB;
            font-size: 58px;
            font-weight: 400;
            line-height: 63.8px;
            margin: 26px 99px 39px 31px;
            display: flex;

        }

        span {
            color: #E0DCDB;
            font-size: 18px;
            font-weight: 400;
            line-height: 29.25px;
            margin-left: 31px;

        }

        svg {
            top: 0;
            right: 0;
            bottom: 0;

        }
    }
}

nav {
    display: flex;
    width: 1495px;
    height: 100px;
    background: #3A173C;
    align-items: center;
    padding: 30px 45px 30px 45px;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        gap: 46px;
        align-items: center;


        li {
            &:nth-child(3) {
                width: 91px;
                height: 51px;
                border-radius: 32px;
                border: 2px solid #3A173C;
                background: #B9E2BF;
                text-align: center;
                padding: 13px 26px;

                a {
                    color: #3A173C;

                }
            }

            a {
                color: #C0B9B5;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;

                &:nth-child(2) {
                    width: 91px;
                    height: 51px;
                    flex-shrink: 0;
                    border-radius: 32px;
                    border: 2px solid #3A173C;
                    background: #B9E2BF;
                }
            }
        }
    }

    ul {
        gap: 48px;

        li {
            display: flex;
            gap: 48px;

            a {
                display: flex;
                color: #C0B9B5;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                align-items: center;
                background: none;

                &:last-child {
                    background: none;
                }
            }
        }
    }
}

footer {
    margin: 32px 6px 0 6px;

    &-div {
        display: flex;
        gap: 50px;

        &-box {
            b {
                margin-bottom: 30px;
                color: #3A173C;
                font-size: 44px;
                font-weight: 400;
                line-height: 52.8px;
            }

            div {
                width: 30px;
                height: 30px;
                flex-shrink: 0;
                border: 1px solid #3A173C;
            }
        }
    }
}