@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header nav button, header .header-content button, header .header-content .check-date ul li button, .dream-flex-right button, .gallery-grid-item-info button, .gallery-grid-item-hide button, .review .title button, .message-form button {
  padding: 15px 30px;
  border-radius: #1B75BB;
  border-radius: 5px;
  color: #fff;
  background-color: #1B75BB; }

.choose-flex-item {
  text-align: center;
  padding: 17px;
  box-shadow: 0px 4px 30px 0px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  border-radius: 1px solid rgba(0, 0, 0, 0.1); }

.review-flex-item {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s ease;
  padding: 28px 40px;
  text-align: center; }
  .review-flex-item:hover {
    box-shadow: 0px 4px 30px 0px rgba(199, 199, 199, 0.25); }

p {
  font-size: 18px;
  color: rgba(8, 31, 50, 0.6);
  line-height: 160%; }

header .header-content > span, .dream-flex-right span, .message .title span {
  font-size: 20px;
  font-weight: 500;
  color: #1B75BB;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 2px; }

header nav, header nav .collapse, header nav ul, .dream-flex, .choose-flex, .review .title, .review-flex, footer .foot-flex {
  display: flex;
  align-items: center; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none;
  cursor: pointer; }

.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  color: #081F32; }

@media only screen and (max-width: 600px) {
  p {
    font-size: 12px; } }
header {
  background: url("../images/zOY7ROKMih 1.png") no-repeat center center/cover;
  position: relative; }
  header nav .logo {
    margin-right: 128px; }
  header nav .nav-toggle {
    display: none;
    font-size: 30px; }
  header nav .collapse {
    width: 100%;
    justify-content: space-between; }
  header nav ul {
    gap: 40px; }
    header nav ul li.active a, header nav ul li:hover a {
      color: #1B75BB;
      transition: all 0.3s ease; }
    header nav ul li a {
      color: #081F32;
      font-family: 'Gelasio', serif;
      line-height: 150%; }
  header .header-content {
    padding-top: 78px;
    padding-bottom: 97px;
    position: relative; }
    header .header-content > span {
      margin-bottom: 15px; }
    header .header-content h1 {
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 600;
      line-height: 120%;
      font-size: 57px;
      max-width: 456px;
      margin-bottom: 25px; }
      header .header-content h1 span {
        color: #1B75BB; }
    header .header-content p {
      margin-bottom: 30px;
      max-width: 347px; }
    header .header-content .check-date {
      display: flex; }
      header .header-content .check-date ul {
        display: flex;
        padding: 24px 49px;
        background: rgba(225, 225, 225, 0.21);
        backdrop-filter: blur(35px);
        border-radius: 10px;
        position: absolute;
        bottom: -61px; }
        header .header-content .check-date ul li {
          display: flex;
          flex-direction: column;
          padding: 0 30px;
          gap: 10px; }
          header .header-content .check-date ul li:first-child, header .header-content .check-date ul li:nth-child(2) {
            position: relative; }
            header .header-content .check-date ul li:first-child::after, header .header-content .check-date ul li:nth-child(2)::after {
              content: "";
              display: block;
              width: 2px;
              height: 34px;
              background-color: #9DACBB;
              border-radius: 1px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%); }
          header .header-content .check-date ul li b {
            font-size: 16px; }
          header .header-content .check-date ul li small {
            opacity: 0.8;
            font-size: 16px; }

@media only screen and (max-width: 600px) {
  header nav {
    justify-content: space-between; }
    header nav .nav-toggle {
      display: block; }
    header nav .collapse {
      display: none; }
      header nav .collapse ul {
        gap: 40px; }
        header nav .collapse ul li a {
          line-height: 150%; }
  header .header-content {
    padding-top: 78px;
    padding-bottom: 97px;
    text-align: center; }
    header .header-content > span {
      margin-bottom: 10px; }
    header .header-content h1 {
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 600;
      line-height: 120%;
      font-size: 35px;
      margin-bottom: 15px;
      margin: 0 auto; }
    header .header-content p {
      margin-bottom: 20px;
      margin: 0 auto; }
    header .header-content .check-date ul {
      justify-content: center;
      padding: 14px 20px;
      bottom: -30px; }
      header .header-content .check-date ul li {
        flex-shrink: 0;
        padding: 0 15px;
        gap: 6px; }
        header .header-content .check-date ul li b {
          font-size: 14px; }
        header .header-content .check-date ul li small {
          font-size: 12px; } }
.dream {
  padding: 201px 0 140px 0; }
  .dream-flex {
    gap: 98px; }
    .dream-flex-left {
      position: relative; }
      .dream-flex-left img:first-child {
        position: absolute;
        z-index: -1;
        top: -57px;
        right: -57px; }
      .dream-flex-left img:last-child {
        position: absolute;
        z-index: -1;
        bottom: -57px;
        left: -57px; }
      .dream-flex-left iframe {
        border-radius: 10px; }
    .dream-flex-right span {
      display: block; }
    .dream-flex-right h2 {
      margin-bottom: 31px;
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 500;
      line-height: 140%;
      font-size: 32px; }

@media only screen and (max-width: 600px) {
  .dream {
    padding: 201px 0 140px 0;
    overflow-x: hidden; }
    .dream-flex {
      flex-direction: column-reverse;
      gap: 98px; }
      .dream-flex-left {
        width: 100%;
        position: relative; }
        .dream-flex-left img:first-child {
          position: absolute;
          z-index: -1;
          top: -27px;
          right: -57px; }
        .dream-flex-left img:last-child {
          position: absolute;
          z-index: -1;
          bottom: -27px;
          left: -57px; }
        .dream-flex-left iframe {
          width: 100%;
          transform: translateX(0);
          border-radius: 10px; }
      .dream-flex-right {
        text-align: center;
        width: 100%; }
        .dream-flex-right span {
          margin-bottom: 10px; }
        .dream-flex-right h2 {
          margin: 0 auto;
          margin-bottom: 25px;
          font-family: 'Gelasion', serif;
          color: #081F32;
          font-weight: 500;
          line-height: 120%;
          font-size: 25px; } }
.choose {
  padding-bottom: 140px; }
  .choose .title {
    text-align: center; }
    .choose .title h2 {
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 500;
      line-height: 140%;
      font-size: 32px;
      margin-bottom: 25px; }
    .choose .title p {
      max-width: 819px;
      margin: 0 auto;
      line-height: 160%; }
  .choose-flex {
    padding-top: 60px;
    gap: 30px; }
    .choose-flex-item svg {
      margin-bottom: 40px; }
    .choose-flex-item h3 {
      margin-bottom: 15px;
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 500;
      line-height: 150%;
      font-size: 24px; }

@media only screen and (max-width: 600px) {
  .choose {
    padding-bottom: 140px; }
    .choose .title h2 {
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 500;
      line-height: 140%;
      font-size: 25px;
      margin-bottom: 15px; }
    .choose-flex {
      flex-wrap: wrap;
      padding-top: 60px; }
      .choose-flex-item {
        width: 100%; }
        .choose-flex-item svg {
          margin-bottom: 20px; }
        .choose-flex-item h3 {
          margin-bottom: 6px;
          font-family: 'Gelasion', serif;
          color: #081F32;
          font-weight: 500;
          line-height: 150%;
          font-size: 24px; } }
.gallery-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 23px; }
  .gallery-grid-item {
    height: 337px;
    background: url("../images/Rectangle 15.png") no-repeat center center/cover;
    border-radius: 10px;
    position: relative;
    overflow: hidden; }
    .gallery-grid-item:hover .gallery-grid-item-hide {
      bottom: 0; }
    .gallery-grid-item-info {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 23px 28px;
      border-radius: 10px;
      background: rgba(226, 226, 226, 0.4);
      backdrop-filter: blur(5px); }
      .gallery-grid-item-info h5 {
        margin-bottom: 10px;
        font-family: 'Gelasion', serif;
        color: #081F32;
        font-weight: 500;
        line-height: 160%;
        font-size: 18px; }
        .gallery-grid-item-info h5 span {
          margin-left: 25px;
          font-weight: 400; }
    .gallery-grid-item-hide {
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -100%;
      background-color: white;
      transition: all .3s ease;
      padding: 47px 117px 47px 0; }
      .gallery-grid-item-hide h2 {
        font-family: 'Gelasion', serif;
        color: #081F32;
        font-weight: 500;
        line-height: 140%;
        font-size: 32px;
        margin-bottom: 25px; }
      .gallery-grid-item-hide button {
        margin-top: 30px; }

@media only screen and (max-width: 500px) {
  .gallery-grid {
    grid-template-columns: auto; } }
.review {
  padding-top: 150px; }
  .review .title {
    padding-bottom: 68px;
    justify-content: space-between; }
    .review .title h2 {
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 500;
      line-height: 140%;
      font-size: 32px; }
  .review-flex {
    gap: 30px; }
    .review-flex-item:hover img {
      opacity: 1; }
    .review-flex-item:hover svg g {
      opacity: 1; }
      .review-flex-item:hover svg g path {
        fill: #1B75BB; }
    .review-flex-item img {
      display: block;
      margin: 0 auto;
      opacity: 0.6; }
    .review-flex-item svg {
      display: block;
      margin-bottom: 5px; }
    .review-flex-item p {
      margin-bottom: 30px; }
    .review-flex-item h3 {
      margin-bottom: 5px;
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 500;
      line-height: 150%;
      font-size: 20px; }

@media only screen and (max-width: 600px) {
  .review-flex {
    flex-wrap: wrap; }
    .review-flex-item {
      width: 100%; } }
.message {
  padding: 140px 0 124px 0; }
  .message .title {
    text-align: center; }
    .message .title span {
      color: #081F32;
      opacity: 0.8;
      margin-bottom: 20px; }
    .message .title h2 {
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 500;
      line-height: 140%;
      font-size: 32px;
      margin-bottom: 50px; }
  .message-form {
    display: flex;
    position: relative;
    width: 570px;
    margin: 0 auto; }
    .message-form input {
      padding: 15px 30px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%; }
      .message-form input:focus {
        outline: none;
        box-shadow: 0px 4px 30px 0px rgba(199, 199, 199, 0.25); }
    .message-form button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; }

@media only screen and (max-width: 600px) {
  .message-form {
    width: 100%; } }
footer {
  padding: 16px 0 145px 0; }
  footer .foot-flex {
    flex-wrap: wrap;
    align-items: center;
    gap: 67px; }
    footer .foot-flex-left img {
      margin-bottom: 30px;
      font-family: 'Gelasion', serif;
      color: #081F32;
      font-weight: 500;
      line-height: 150%;
      font-size: 28px;
      font-family: "Poppins"; }
    footer .foot-flex-left p {
      margin-bottom: 30px; }
    footer .foot-flex-left a {
      margin-bottom: 15px;
      display: block; }
    footer .foot-flex-right h5 {
      margin-bottom: 30px; }

@media only screen and (max-width: 600px) {
  footer .foot-flex {
    flex-direction: column;
    gap: 20px; }
    footer .foot-flex div {
      width: 100%; }
    footer .foot-flex .message-form {
      width: 80%; } }

/*# sourceMappingURL=main.css.map */
